In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\programdata\anaconda3\lib\site-packages (from textblob) (3.6.2)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.0.1)
Requirement already satisfied: regex in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.4.4)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.61.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Installing collected packages: textblob
Successfully installed textblob-0.17.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -dm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5py (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lick (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -dm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5py (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lick (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -dm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5py (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lick (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Error parsing requirements for gensim: [Errno 13] Permission denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\gensim-3.8.3.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -dm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5py (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lick (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -dm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5py (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lick (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -dm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5py (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lick (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -dm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5py (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lick (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)

In [24]:
# for data cleaning
import string
import re
# for removing accented and special chracters
import unicodedata
# for stopwords Removal
from nltk.corpus import stopwords

from nltk.tokenize import word_tokenize
# for calculating Polarity and Subjectivity
from textblob import TextBlob
import seaborn as sns
# function for making ngrams
from nltk.util import ngrams
# load in all the modules we're going to need
import nltk
import collections
# for Wordscloud
from wordcloud import WordCloud
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv(r"D:\amey\datasets\amazon_reviews_us_Apparel_v1_00.tsv", index_col=None, header=0, sep="\t", error_bad_lines=False, warn_bad_lines=False)

In [9]:
df

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,32158956,R1KKOXHNI8MSXU,B01KL6O72Y,24485154,Easy Tool Stainless Steel Fruit Pineapple Core...,Apparel,4.0,0.0,0.0,N,Y,★ THESE REALLY DO WORK GREAT WITH SOME TWEAKING ★,"These Really Do Work Great, But You Do Need To...",2013-01-14
1,US,2714559,R26SP2OPDK4HT7,B01ID3ZS5W,363128556,V28 Women Cowl Neck Knit Stretchable Elasticit...,Apparel,5.0,1.0,2.0,N,Y,Favorite for winter. Very warm!,I love this dress. Absolute favorite for winte...,2014-03-04
2,US,12608825,RWQEDYAX373I1,B01I497BGY,811958549,James Fiallo Men's 12-Pairs Low Cut Athletic S...,Apparel,5.0,0.0,0.0,N,Y,Great Socks for the money.,"Nice socks, great colors, just enough support ...",2015-07-12
3,US,25482800,R231YI7R4GPF6J,B01HDXFZK6,692205728,Belfry Gangster 100% Wool Stain-Resistant Crus...,Apparel,5.0,0.0,0.0,N,Y,Slick hat!,"I bought this for my husband and WOW, this is ...",2015-06-03
4,US,9310286,R3KO3W45DD0L1K,B01G6MBEBY,431150422,JAEDEN Women's Beaded Spaghetti Straps Sexy Lo...,Apparel,5.0,0.0,0.0,N,Y,I would do it again!,Perfect dress and the customer service was awe...,2015-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5881869,US,41086556,R3638LBLGKMM2S,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,5.0,0.0,0.0,N,Y,Five Stars,Ok,2015-08-07
5881870,US,20641436,RP5AEIYZM5BUW,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,5.0,12.0,15.0,N,Y,Tutus,Purchased and wore these tutus for the Portlan...,2013-09-10
5881871,US,46003968,R3PB8K42BMNI40,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,3.0,0.0,0.0,N,Y,good,"Was kind of long but, had to trim it a bit to ...",2014-11-04
5881872,US,10988987,R2PK1N9NG1JM4C,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,5.0,0.0,0.0,N,Y,Five Stars,What a spectacular tutu! Very slimming.,2015-06-04
5881873,US,47148712,R2ORDL3TCNYNHC,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,4.0,0.0,0.0,N,Y,This is thick enough that you can't see throug...,This is thick enough that you can't see throug...,2014-12-16

In [6]:
df.dropna(inplace=True)

In [8]:
df

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,32158956,R1KKOXHNI8MSXU,B01KL6O72Y,24485154,Easy Tool Stainless Steel Fruit Pineapple Core...,Apparel,4.0,0.0,0.0,N,Y,★ THESE REALLY DO WORK GREAT WITH SOME TWEAKING ★,"These Really Do Work Great, But You Do Need To...",2013-01-14
1,US,2714559,R26SP2OPDK4HT7,B01ID3ZS5W,363128556,V28 Women Cowl Neck Knit Stretchable Elasticit...,Apparel,5.0,1.0,2.0,N,Y,Favorite for winter. Very warm!,I love this dress. Absolute favorite for winte...,2014-03-04
2,US,12608825,RWQEDYAX373I1,B01I497BGY,811958549,James Fiallo Men's 12-Pairs Low Cut Athletic S...,Apparel,5.0,0.0,0.0,N,Y,Great Socks for the money.,"Nice socks, great colors, just enough support ...",2015-07-12
3,US,25482800,R231YI7R4GPF6J,B01HDXFZK6,692205728,Belfry Gangster 100% Wool Stain-Resistant Crus...,Apparel,5.0,0.0,0.0,N,Y,Slick hat!,"I bought this for my husband and WOW, this is ...",2015-06-03
4,US,9310286,R3KO3W45DD0L1K,B01G6MBEBY,431150422,JAEDEN Women's Beaded Spaghetti Straps Sexy Lo...,Apparel,5.0,0.0,0.0,N,Y,I would do it again!,Perfect dress and the customer service was awe...,2015-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5881869,US,41086556,R3638LBLGKMM2S,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,5.0,0.0,0.0,N,Y,Five Stars,Ok,2015-08-07
5881870,US,20641436,RP5AEIYZM5BUW,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,5.0,12.0,15.0,N,Y,Tutus,Purchased and wore these tutus for the Portlan...,2013-09-10
5881871,US,46003968,R3PB8K42BMNI40,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,3.0,0.0,0.0,N,Y,good,"Was kind of long but, had to trim it a bit to ...",2014-11-04
5881872,US,10988987,R2PK1N9NG1JM4C,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,5.0,0.0,0.0,N,Y,Five Stars,What a spectacular tutu! Very slimming.,2015-06-04
5881873,US,47148712,R2ORDL3TCNYNHC,0000032034,5694699,Adult Ballet Tutu Yellow,Apparel,4.0,0.0,0.0,N,Y,This is thick enough that you can't see throug...,This is thick enough that you can't see throug...,2014-12-16

In [5]:
df['review_body']

0          These Really Do Work Great, But You Do Need To...
1          I love this dress. Absolute favorite for winte...
2          Nice socks, great colors, just enough support ...
3          I bought this for my husband and WOW, this is ...
4          Perfect dress and the customer service was awe...
                                 ...
5881869                                                   Ok
5881870    Purchased and wore these tutus for the Portlan...
5881871    Was kind of long but, had to trim it a bit to ...
5881872              What a spectacular tutu! Very slimming.
5881873    This is thick enough that you can't see throug...
Name: review_body, Length: 5881874, dtype: object

In [10]:
df['review_date'] = pd.to_datetime(df['review_date'])

In [12]:
df = df.sort_values(by=['review_date'], ascending=True)

In [16]:
df = df.reset_index().drop('index',axis=1)

In [19]:
df.drop(columns=['marketplace','customer_id','review_id','product_id','product_parent','product_title','product_category','helpful_votes','total_votes','vine','verified_purchase','review_headline'],inplace=True)

In [20]:
df

,star_rating,review_body,review_date
0,5.0,This is great! Be Homer for Haloween! It's p...,2000-09-06
1,5.0,This is one of the best costumes I've ever see...,2000-10-06
2,5.0,These great accessories are just what you need...,2000-10-08
3,2.0,I must admit that this costume very quickly ca...,2000-10-10
4,5.0,I just got this costume and tried it on for my...,2000-10-19
...,...,...,...
5880911,5.0,"Fits well, hardy, keeps warm, beautiful colors...",2015-08-31
5880912,5.0,"A gift for my Dad, he loved it!!! Unwrapped it...",2015-08-31
5880913,5.0,Looks so cute on my grandaughepter,2015-08-31
5880914,5.0,Love the fit. Perfect! Had to order another ...,2015-08-31
5880915,5.0,Love it!,2015-08-31

In [21]:
df.to_csv(r"D:\amey\datasets\sentiment_datasets\Apparel.csv",index=False)

In [25]:
# First lets remove Punctuations from the Reviews
def punctuation_removal(messy_str):
    clean_list = [char for char in messy_str if char not in string.punctuation]
    clean_str = ''.join(clean_list)
    return clean_str

In [26]:
df['review_body'] = df['review_body'].apply(punctuation_removal)

In [27]:
# lets make a function to remove Numbers from the reviews
def drop_numbers(list_text):
    list_text_new = []
    for i in list_text:
        if not re.search('\d', i):
            list_text_new.append(i)
    return ''.join(list_text_new)

In [28]:
df['review_body'] = df['review_body'].apply(drop_numbers)

In [29]:
### Removing Accented Characters

"""Accented characters are important elements which are used to signify emphasis on
a particular word during pronunciation or understanding. In some instances, 
the accent mark also clarifies the meaning of a word, which might be different without the accent.
While their use in English is largely limited but there are very good chances 
that you will come across accented characters/letters in a free text corpus. 
Words such as résumé, café, prótest, divorcé, 
coördinate, exposé, latté etc"""
# lets create a function to remove accented characters
def remove_accented_chars(text):
    new_text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return new_text

In [30]:
df['review_body'] = df.apply(lambda x: remove_accented_chars(x['review_body']), axis = 1)

In [31]:
# Create a function to remove special characters
def remove_special_characters(text):
    pat = r'[^a-zA-z0-9]' 
    return re.sub(pat, '', text)

In [32]:
# lets apply this function
df['review_body'] = df.apply(lambda x: remove_special_characters(x['review_body']), axis = 1)

In [33]:
# Lets calculate the Polarity of the Reviews
def get_polarity(text):
    textblob = TextBlob(str(text))
    pol = textblob.sentiment.polarity
    if(pol==0):
        return "Neutral"
    elif(pol>0 and pol<=0.3):
        return "Weakly Positive"
    elif(pol>0.3 and pol<=0.6):
        return "Positive"
    elif(pol>0.6 and pol<=1):
        return "Strongly Positive"
    elif(pol>-0.3 and pol<=0):
        return "Weakly Negative"
    elif(pol>-0.6 and pol<=-0.3):
        return "Negative"
    elif(pol>-1 and pol<=-0.6):
        return "Strongly Negative"

In [34]:
df['polarity'] = df['review_body'].apply(get_polarity)

In [36]:
df['polarity'].value_counts().to_frame()

                   polarity
Neutral             5728478
Strongly Positive     96487
Positive              45919
Weakly Positive        6873
Weakly Negative        1278
Strongly Negative       749
Negative                511

In [37]:
copy_df = df.drop('review_body',axis=1)

In [38]:
copy_df

         star_rating review_date polarity
0                5.0  2000-09-06  Neutral
1                5.0  2000-10-06  Neutral
2                5.0  2000-10-08  Neutral
3                2.0  2000-10-10  Neutral
4                5.0  2000-10-19  Neutral
...              ...         ...      ...
5880911          5.0  2015-08-31  Neutral
5880912          5.0  2015-08-31  Neutral
5880913          5.0  2015-08-31  Neutral
5880914          5.0  2015-08-31  Neutral
5880915          5.0  2015-08-31  Neutral

[5880916 rows x 3 columns]

In [40]:
copy_df.to_csv(r"D:\amey\datasets\sentiment_datasets\Apparel_polarity.csv",index=False)

In [42]:
copy_df.drop('polarity',inplace=True,axis=1)

In [43]:
copy_df

         star_rating review_date
0                5.0  2000-09-06
1                5.0  2000-10-06
2                5.0  2000-10-08
3                2.0  2000-10-10
4                5.0  2000-10-19
...              ...         ...
5880911          5.0  2015-08-31
5880912          5.0  2015-08-31
5880913          5.0  2015-08-31
5880914          5.0  2015-08-31
5880915          5.0  2015-08-31

[5880916 rows x 2 columns]

In [44]:
new_df = pd.read_csv(

In [45]:
new_df

            Time    Rating
0     2000-09-06  5.000000
1     2000-10-06  5.000000
2     2000-10-08  5.000000
3     2000-10-10  2.000000
4     2000-10-19  5.000000
...          ...       ...
4742  2015-08-27  4.104457
4743  2015-08-28  4.109756
4744  2015-08-29  4.170786
4745  2015-08-30  4.129230
4746  2015-08-31  4.140752

[4747 rows x 2 columns]

In [47]:
new_df['Rating'].value_counts().to_frame().sort_index()

          Rating
1.000000      10
1.333333       1
2.000000      10
2.117647       1
2.142857       1
...          ...
4.875000       7
4.877934       1
4.888889       2
4.900000       2
5.000000     141

[2911 rows x 1 columns]

In [48]:
def sentiment(row):
    if row <= 2.5:
        return "Negative"
    elif row>2.5 and row<=3.5:
        return "Neutral"
    else:
        return "Positive"

In [50]:
new_df['Sentiment'] = new_df['Rating'].apply(sentiment)

In [51]:
new_df

            Time    Rating Sentiment
0     2000-09-06  5.000000  Positive
1     2000-10-06  5.000000  Positive
2     2000-10-08  5.000000  Positive
3     2000-10-10  2.000000  Negative
4     2000-10-19  5.000000  Positive
...          ...       ...       ...
4742  2015-08-27  4.104457  Positive
4743  2015-08-28  4.109756  Positive
4744  2015-08-29  4.170786  Positive
4745  2015-08-30  4.129230  Positive
4746  2015-08-31  4.140752  Positive

[4747 rows x 3 columns]

In [52]:
new_df['Sentiment'].value_counts().to_frame()

          Sentiment
Positive       4441
Neutral         269
Negative         37

In [53]:
new_df.to_csv(r"D:\amey\datasets\sentiment_datasets\Apparel_sentiment.csv",index=False)